html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

span {
  font-weight: bold;
  font-style: normal;
  color: red;
  font-size: 3em;
  background-color: green;
}
